<div class="centered title">Graphs & Charts</div>
<div class="centered subtitle">To see the raw data or do your own analysis, check out the <%= link_to "API", documentation_path %> </div>
<div class="row data-links">
  <div class="col-md-4 col-sm-4 col-xs-4">
    <p><%= link_to "District Graduation", visualization_graduation_path, class: "btn btn-default" %></p>
    <p><%= link_to "District Demographics", visualization_demographics_path, class: "btn btn-default" %></p>
  </div>
  <div class="well centered col-md-8 col-sm-8 col-xs-8 data-well">
    Click buttons to the left to see district statistics compared to state averages. Additional graphs will be added shortly!
  </div>

</div>
