<div class="well key">
  Your API key is:
  <p class="api-key"><%= current_user.api_key %></p>
  <%= link_to "Generate New API Key", user_path(current_user), method: :patch, class: "new-key btn btn-default" %>
  <br/>
  <p class="note">(your current key will no longer be valid if you generate a new key) </p>
</div>
