.container {
  font-family: sans-serif;
}

.hidden {
  display: none;
}

.header {
  background-color: #399655;
  height: 50px;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
}

.logo {
  display: inline-block;
  float: left;
  margin-left: 30px;
  margin-top: 12px;
}

.navbar-links {
  display: inline-block;
  float: right;
  margin-top: 15px;
}

.navbar-links > a {
  text-decoration: none;
  color: white;
  padding-right: 30px;
}

.header > a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.key {
  padding: 75px;
  width: 60%;
  margin: auto;
  margin-top: 125px;
  line-height: 30px;
  text-align: center;
}

.api-key {
  color: #399655;
}

.form-control {
  margin-top: 15px;
  margin-bottom: 15px;
}

.note {
  font-size: .8em;
}

.new-key {
  margin: 25px;
}

h2 {
  font-size: 3em;
}

.centered {
  text-align: center;
}

.title {
  font-size: 2em;
  padding: 15px;
}

.subtitle {
  font-size: 1.4em;
  padding: 10px;
}

.btn {
  margin: 10px;
}

.data-links {
  margin-top: 20px;
}

.data-well {
  line-height: 30px;
}

.collapsed-navbar {
  display: none;
}

@media (max-width: 1100px) {
  .navbar-links {
    display: none;
  }

  .collapsed-navbar {
    display: block;
  }

  .collapse-button {
    float: right;
  }

  .menu-icon {
    float: right;
    margin-right: 25px;
    margin-top: 10px;
  }

  .horizontal-line {
    width: 35px;
    height: 3px;
    background-color: white;
    margin-top: 5px;
  }

  .dropdown-links {
    margin-top: 50px;
    text-align: right;
    margin-right: -58px;
    border: 1px solid #dce8e8;
    padding: 25px;
    border-radius: 5px;
    position: absolute;
    right: 60px;
    background-color: #F5F5F5;
    z-index: 100;
  }

  .dropdown-link > a {
    margin-top: 8px;
    text-decoration: none;
    color: #5a5e5e;
  }

  .dropdown-link {
    margin-top: 10px;
  }

  .dropdown-link > a:hover {
    color: grey;
  }
}
