.container {
  font-family: sans-serif;
}

.header {
  background-color: #399655;
  height: 50px;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
}

.logo {
  display: inline-block;
  float: left;
  margin-left: 30px;
  margin-top: 12px;
}

.navbar-links {
  display: inline-block;
  float: right;
  margin-top: 15px;
}

.navbar-links > a {
  text-decoration: none;
  color: white;
  padding-right: 30px;
}

.header > a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.key {
  padding: 75px;
  width: 60%;
  margin: auto;
  margin-top: 125px;
  line-height: 30px;
  text-align: center;
}

.api-key {
  color: #399655;
}

.form-control {
  margin-top: 15px;
  margin-bottom: 15px;
}

.note {
  font-size: .8em;
}

.new-key {
  margin: 25px;
}
